body{
    font-family: Arial, sans-serif;
}

h2.article{
    font-style: italic;
    color: firebrick;
}

h3.article{
    color: cornflowerblue;
}

#menu{
    width: 100px;
    vertical-align: top;
    horiz-align: left;
}

#content{
    vertical-align: top;
    horiz-align: left;
}

#articleContent{
    border-left: black;
    border-left-width: 1px;
    border-left-style: solid;
    padding-left: 10px;
    background: rgba(255, 237, 199, 0.18);
    vertical-align: top;

}

.errorbox{
    background-color: tomato;
    padding: 10px;
    font-weight: bold;
}

.successbox{
    background-color: chartreuse;
    padding: 10px;
    font-weight: bold;
}

